.nav-item{
    color: aliceblue;
}
.btn-blue{
    background: rgb(1,57,151);
}

a:hover{
    background: white;
    color: rgb(1,57,151);
}

hr{
    color: white;
}
.service-title{
    text-align: center;
}

a .text-gray{
    color: rgb(104, 103, 103)
  }

.card-img{
    justify-content: center;
    align-items: center;
}