/*!
 * Reyn Yang website css - home page
 * Copyright 2018 Reyn Yang
 */
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px
}
.container{
  display: flex
}
.container-fluid{
  padding: 15px 15px
}

h1,
h2,
h3,
h4,
h5,
h6,
p 
.text-light{
  color: white
}
.text-dark{
  color: black
}
.text-gray{
  color: rgb(104, 103, 103)
}

.carousel-caption{
  margin-bottom: 60px;
  text-align: left
}

hr{
  color: white;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color:  white;
}

section {
  background: rgb(61, 57, 57)
}
.bg-light {
  background: white
}

img
{
  width: 100%;
}
.nav_logo
{
  width: 200px
}
.card{
  border: 0px;
  margin-top: 15px;
  background: rgb(61, 57, 57)
}
.card-img-top{
  width: 285px;
  height: 300px;
  padding-left: 75px;
  
}
.card-body{
  background: rgb(61, 57, 57)
}

.video_collection{
  background: #f8f9fa;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  }
  
  .video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-blue{
  background: rgb(1,57,151);
}
.radio_system_img{
  margin-top: 30px;
  margin-bottom: 15px
}
.footer_site_map{
  display: flex;
  flex-direction: row;
  color: rgb(104, 103, 103);
}
.footer_site_map_sub{
  display: flex;
  flex-direction: column;
  margin-left: 60px
}

.connect_imgs{
  display: flex;
  margin: 0px
}

.logo_group{
  display: flex;
  justify-content: space-around;
}

.logo_group_img{
  width: 300px;
  height: 80px;
}