/*!
 * Reyn Yang website css - backend
 * Copyright 2018 Reyn Yang
 */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6
.text-dark{
  color: black;
}
.text-light {
  color: white;
}

a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: white;
}

.text-dark{
    color: black;
}
a:hover,
a:focus {
  color: black;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

hr .dark{
  color: #000;
}
.bg-dark {
    background-color: rgb(63, 64, 66);
    color: white;
  }

.bg-light {
    background-color: rgb(253, 253, 253);
    color: black;
  }

.content {
    height:100%;
    background-color: rgb(63, 64, 66);;
}
